:root{

     --blanco:#ffffff;
     --oscuro:#212121;
     --primario: #ffc107;
     --secundario: #0097a7;
     --gris: #757575;
     --grisclaro: #dfe9f3; 
}

/*globales*/
html{
    font-size: 62.5%;
    box-sizing: inherit;
    scroll-snap-type: y proximity; /*para q baje por partes la pagina*/
}

 /*scroll snap*/
 .servicios, .navegacion-principal{
    scroll-snap-align: center;
    scroll-snap-stop: always ;
}

*,*:before, *:after { /*selecciona todos los elemntos q lo requiera*/
    box-sizing: inherit;
}
                        /*html y body ayuda a adaptar el tamaño de letra 
                        para diferentes dispositivos, dado por rem 1 rem = 10px*/
body {
     font-size: 16px; 
     font-family: 'Krub', sans-serif; /*https://fonts.google.com*/
     background-image: linear-gradient(to top, var(--grisclaro)  0%, var(--blanco) 90%) ; /*degradado de abajo hacia arriba*/
}

.contenedor {
    max-width: 90rem;
    margin: 0 auto; /*margen valores de 0 toma arriba y abajo, auto toma derecha izquierda*/
}

.boton{
    background-color: var(--oscuro);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase; /*cambia de minusculas a mayusculas*/
    font-weight: bold;
    border-radius: 1rem;
    width: 90%;
    text-align: center;
    border: none;
}

@media(min-width: 768px){  
  .boton {
      width: auto;
  }
}

.boton:hover{
    cursor: pointer; /*pone una mano cuando pasas el pulsor*/
}

.sombra { /*obtenida de https://www.cssmatic.com/box-shadow*/
-webkit-box-shadow: 0px 6px 20px 5px rgba(0,0,0,0.61);
-moz-box-shadow: 0px 6px 20px 5px rgba(0,0,0,0.61);
box-shadow: 0px 6px 20px 5px rgba(0,0,0,0.61);
background-color: var(--blanco); 
padding: 2rem; 
border-radius: 3rem;
}

/*tipografia*/
h1 {
    font-size: 3.8rem;
    background-color: rgba(0, 0, 0, .3);
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem; /*1.8 rem igual a 18 pixeles*/
}

h1,h2,h3 {
    text-align: center; /*aliniacion de texto*/
}


/*titulos*/
.titulo span{
    font-size: 2rem; /*tamaño de letra*/
}

/**utilidades**/
.w-sm-100{
    width: 20%;
}

@media (min-width: 768){
    .w-sm-100{
        width: auto;
    }
}

.flex{
    display: flex;
}

.alinear-derecha{
    justify-content: flex-end;
}


/*tnavegacion principal*/
.nav-bg{ 
    background-color: black; /*color de fondo*/
}

.navegacion-principal {

   display: flex; /*habilita flex box*/
   flex-direction: column; /*crea el menu en forma de columna verticalmente*/
}

@media(min-width: 768px){  
    .navegacion-principal{ /*hereda toda la informacion por medio del media query*/
        flex-direction: row;
        justify-content: space-between; /*mueve el contenido orizontalmente*/
    } 

}


.navegacion-principal a { /*a = enlace*/
   display: block;
   text-align: center;
   color: var(--blanco);
   text-decoration: none;
   font-size: 2rem;
   font-weight: 700;
   padding: 1rem; /*ingresar un valor lo toma como si fueran los 4 top-rigth-botton-left*/
 }

 .navegacion-principal a:hover{  /*funcion para q el pulsor sobresalte el texto*/
   background-color: orangered; /*fondo del texto*/
   color: var(--blanco);/**color al pasae el pulsor*/
    
 }


 /*hero*/
 .hero {
     background-image: url(../img/hero.jpg); /*carga la imagen  los .. se usan para regresar una url*/
     background-repeat: no-repeat; /*para q no se repita la imagenm*/
     background-size: cover;/*llena todo el tamaño de la pantalla*/
     height: 410px;
     /*padding: 20px; crea un ancho een cada lado tamaño de relleno (padding) borde y magen*/
     position: relative;
     margin-bottom: 3rem;
 }

 .contenido-hero{
     position: absolute;
     background-color: rgba(0, 0, 0, .5); /*crea transparencia en una imagen*/

     width: 100%; /*ancho*/
     height: 100%; /*altura*/

     display: flex;
     flex-direction: column; /*crea columna*/
     align-items: center; /* alinea horizontalmente*/
     justify-content: center; /*alinea verticalmente*/
 }

 .contenido-hero, 
 .contenido-hero p {
      color: var(--blanco);
 }

 .contenido-hero .ubicacion {
     display: flex;
     align-items: flex-end;
 }

 
 /*servicios*/

 @media (min-width:768px){
 .servicios{
     display: grid;
     /*grid-template-columns: 300px 300px; /*crea columnas */
     /*grid-template-rows: 200px 800px; /*crea filas*/
     /*grid: 200px 800px / 300px 300px; /*filas/columnas*/
     grid-template-columns: repeat(3, 1fr); /*crea 3 espacio y da 1 fracciones para dividir el espacio*/
     column-gap: 5rem; /*crea separacion de columnas*/
    }
 }

 .servicio{
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .servicio h3{
 color: black;
 font-weight: normal;
 }

 .servicio p {
     line-height: 2; /*crea interlineado*/
     text-align: center;
 }
 .servicio .iconos{
     height: 15rem;
     width: 15rem;
     background-color: var(--gris);
     border-radius: 50%;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }

 /*contacto*/

 .formulario{
     background-color: var(--gris);
     width: min( 40rem, 100% ); /**utilizar el valor mas pequeño*/
     margin: 0 auto; /*centrado*/
     padding: 2rem;
     border-radius: 2rem;
 }

 .formulario fieldset {
     border: none;
 }

 .formulario legend{
     text-align: center;
     font-size: 1.8rem;
     text-transform: uppercase;
     font-weight: 700;
     margin-bottom: 2rem;
     color: var(--primario);
 }

 .contedor-campos{


 }
 
 .campo {
 margin-bottom: .5rem;
 }
 
 .campo label {
   color: var(--blanco);
   font-weight: bold;
   margin-bottom: .5rem;
   display: block;
 }

 .campo textarea{
     height: 10rem;
 }

 .input-text{
   width: 90%;
   border: none;
   padding: 1.5rem;
   border-radius: .7rem;
 }

 .footer{
     text-align: center;
 }
 